@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

$main-bg-color: #30303d;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$font-family: 'Open Sans', sans-serif;

#__AmCharts_React_1__ {
  height: 70vh;
  width: 80vw;
}

.amcharts-chart-div a{
  display: none !important;
}

body {
  background-color: $main-bg-color;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: $font-family;
}

.main-app-container {
  padding-top: 2em;
}

.title {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 0.2em;
  font-size: 2em;
  text-align: center;
  .light {
    font-weight: lighter;
  }
}

.subtitle {
  text-align: center;
  /*font-family: $font-family;*/
  /*width: 50%;*/
}

.counter-num-label {
  color: $accent-orange;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.counter-even-label {
  padding-top: 1em;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;

/*  div {
    margin: 1em;
  }*/

/*  button {
    background-color: #CCC;
    border: none;
    height: 30px;
    width: 80px;
    margin-left: 1em;
    margin-right: 1em;

    &:hover {
      background-color: $accent-gray;
    }
  }*/
}


button{
  overflow: hidden !important;
  height: 2.1em;
  margin: 1em;
}

.text, .hidden-text{
  position: relative;
  top: -0.1em;
  animation-name: slide-down;
  animation-duration: 0.5s;
}

button:hover > .text, .hidden-text{
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

button:hover > .text{
  animation-name: slide-up;
  animation-duration: 0.5s;
}

button:hover > .hidden-text{
  animation-name: slide-out;
  animation-duration: 0.5s;  
}

@keyframes slide-down{
  from { top: -1.7em; opacity: 0;}
  to { top: -0.1em; opacity: 1;}
}

@keyframes slide-up{
  from { top: -0.1em; opacity: 1;}
  to { top: -1.7em; opacity: 0;}
}

@keyframes slide-out{
  from { top: -0.1em; opacity: 0;}
  to { top: -1.6em; opacity: 1;}
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}